# @implements("{{ id }}")
# {{ element.aspect }} / {{ element.element_type }}: {{ title }}
{% if content %}
# {{ content | replace('\n', '\n# ') }}
{% endif %}

from sqlalchemy import Column, Integer, String, Boolean, DateTime, ForeignKey
from sqlalchemy.orm import declarative_base

Base = declarative_base()


class {{ title.replace(' ', '') }}(Base):
    """{{ content or title }}"""

    __tablename__ = "{{ title.lower().replace(' ', '_') }}"

    id = Column(Integer, primary_key=True, autoincrement=True)

    # TODO: Add fields based on specification
    pass
