# @implements("{{ id }}")
# {{ element.aspect }} / {{ element.element_type }}: {{ title }}
{% if content %}
# {{ content }}
{% endif %}

from fastapi import APIRouter

router = APIRouter()


# TODO: Implement endpoint: {{ title }}
# {{ content }}

@router.{{ (content or '').split()[0].lower() or 'get' }}("{{ (content or '/').split()[-1] or '/' }}")
async def {{ title.lower().replace(' ', '_') }}():
    """{{ content or title }}"""
    # TODO: Add request/response schemas
    # TODO: Add business logic
    pass
