// @implements("{{ id }}")
// {{ element.aspect }} / {{ element.element_type }}: {{ title }}
{% if content %}
// {{ content | replace('\n', '\n// ') }}
{% endif %}

import React from 'react';

interface {{ title.replace(' ', '') }}Props {
  // TODO: Define component props based on specification
}

/**
 * {{ content or title }}
 *
 * @implements {{ id }}
 */
const {{ title.replace(' ', '') }}: React.FC<{{ title.replace(' ', '') }}Props> = (props) => {
  return (
    <div className="{{ title.lower().replace(' ', '-') }}">
      { /* TODO: Implement based on specification */ }
      { /* {{ content }} */ }
    </div>
  );
};

export default {{ title.replace(' ', '') }};
