// @implements("{{ id }}")
// {{ element.aspect }} / {{ element.element_type }}: {{ title }}
{% if content %}
// {{ content | replace('\n', '\n// ') }}
{% endif %}

export interface {{ title.replace(' ', '') }} {
  id: number;

  // TODO: Add fields based on specification
  // {{ content }}
}
